<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="superErpApp.person.home.title">People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="superErpApp.person.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="superErpApp.person.home.createLabel">Criar novo Person</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (people().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="superErpApp.person.home.notFound">Nenhum Person encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.fullName">Full Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cpf">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.cpf">Cpf</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="birthDate">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.email">Email</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.phone">Phone</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.person.deletedAt">Deleted At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (person of people(); track trackId(person)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
              </td>
              <td>{{ person.fullName }}</td>
              <td>{{ person.cpf }}</td>
              <td>{{ person.birthDate | formatMediumDate }}</td>
              <td>{{ person.email }}</td>
              <td>{{ person.phone }}</td>
              <td>{{ person.active }}</td>
              <td>{{ person.deletedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/tenant']"
                    [queryParams]="{ 'filter[peopleId.in]': person.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.person.tenant' | translate) }"
                      >Mostrar Tenant</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/city']"
                    [queryParams]="{ 'filter[peopleId.in]': person.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.person.city' | translate) }"
                      >Mostrar City</span
                    >
                  </button>
                  <a [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (people().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
