<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tenant(); as tenantRef) {
      <div>
        <h2 data-cy="tenantDetailsHeading"><span jhiTranslate="superErpApp.tenant.detail.title">Tenant</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ tenantRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.name">Name</span></dt>
          <dd>
            <span>{{ tenantRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.code">Code</span></dt>
          <dd>
            <span>{{ tenantRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.active">Active</span></dt>
          <dd>
            <span>{{ tenantRef.active }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.deletedAt">Deleted At</span></dt>
          <dd>
            <span>{{ tenantRef.deletedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.customers">Customers</span></dt>
          <dd>
            @if (tenant()!.customers) {
              <div>
                <a [routerLink]="['/customer', $safeNavigationMigration(tenant()!.customers?.id), 'view']">{{ tenantRef.customers?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.suppliers">Suppliers</span></dt>
          <dd>
            @if (tenant()!.suppliers) {
              <div>
                <a [routerLink]="['/supplier', $safeNavigationMigration(tenant()!.suppliers?.id), 'view']">{{ tenantRef.suppliers?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.people">People</span></dt>
          <dd>
            @if (tenant()!.people) {
              <div>
                <a [routerLink]="['/person', $safeNavigationMigration(tenant()!.people?.id), 'view']">{{ tenantRef.people?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.companies">Companies</span></dt>
          <dd>
            @if (tenant()!.companies) {
              <div>
                <a [routerLink]="['/company', $safeNavigationMigration(tenant()!.companies?.id), 'view']">{{ tenantRef.companies?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.products">Products</span></dt>
          <dd>
            @if (tenant()!.products) {
              <div>
                <a [routerLink]="['/product', $safeNavigationMigration(tenant()!.products?.id), 'view']">{{ tenantRef.products?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.rawMaterials">Raw Materials</span></dt>
          <dd>
            @if (tenant()!.rawMaterials) {
              <div>
                <a [routerLink]="['/raw-material', $safeNavigationMigration(tenant()!.rawMaterials?.id), 'view']">{{
                  tenantRef.rawMaterials?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.warehouses">Warehouses</span></dt>
          <dd>
            @if (tenant()!.warehouses) {
              <div>
                <a [routerLink]="['/warehouse', $safeNavigationMigration(tenant()!.warehouses?.id), 'view']">{{
                  tenantRef.warehouses?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.sales">Sales</span></dt>
          <dd>
            @if (tenant()!.sales) {
              <div>
                <a [routerLink]="['/sale', $safeNavigationMigration(tenant()!.sales?.id), 'view']">{{ tenantRef.sales?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.saleItems">Sale Items</span></dt>
          <dd>
            @if (tenant()!.saleItems) {
              <div>
                <a [routerLink]="['/sale-item', $safeNavigationMigration(tenant()!.saleItems?.id), 'view']">{{
                  tenantRef.saleItems?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.tenant.stockMovements">Stock Movements</span></dt>
          <dd>
            @if (tenant()!.stockMovements) {
              <div>
                <a [routerLink]="['/stock-movement', $safeNavigationMigration(tenant()!.stockMovements?.id), 'view']">{{
                  tenantRef.stockMovements?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/tenant', tenantRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
