<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-sale-heading" data-cy="SaleCreateUpdateHeading" jhiTranslate="superErpApp.sale.home.createOrEditLabel">
        Criar ou editar Sale
      </h2>

      <div>
        <jhi-alert-error />

        @if (sale.id !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">Código</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [(ngModel)]="sale.id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" for="field_saleDate" jhiTranslate="superErpApp.sale.saleDate">Sale Date</label>
          <div class="d-flex">
            <input
              id="field_saleDate"
              data-cy="saleDate"
              type="datetime-local"
              class="form-control"
              name="saleDate"
              [(ngModel)]="sale.saleDate"
              #saleDateRef="ngModel"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (saleDateRef.invalid && (saleDateRef.dirty || saleDateRef.touched)) {
            <div>
              @if (saleDateRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!saleDateRef.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_saleNumber" jhiTranslate="superErpApp.sale.saleNumber">Sale Number</label>
          <input
            type="text"
            class="form-control"
            name="saleNumber"
            id="field_saleNumber"
            data-cy="saleNumber"
            [(ngModel)]="sale.saleNumber"
            #saleNumberRef="ngModel"
          />
          @if (saleNumberRef.invalid && (saleNumberRef.dirty || saleNumberRef.touched)) {
            <div>
              @if (saleNumberRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (saleNumberRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (saleNumberRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >Este campo não pode ter mais de 40 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="superErpApp.sale.status">Status</label>
          <select class="form-control" name="status" [(ngModel)]="sale.status" #statusRef="ngModel" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'superErpApp.SaleStatus.null' | translate }}</option>
            @for (saleStatus of saleStatusValues; track $index) {
              <option [value]="saleStatus">{{ 'superErpApp.SaleStatus.' + saleStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (statusRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_grossAmount" jhiTranslate="superErpApp.sale.grossAmount">Gross Amount</label>
          <input
            type="number"
            class="form-control"
            name="grossAmount"
            id="field_grossAmount"
            data-cy="grossAmount"
            [(ngModel)]="sale.grossAmount"
            #grossAmountRef="ngModel"
          />
          @if (grossAmountRef.invalid && (grossAmountRef.dirty || grossAmountRef.touched)) {
            <div>
              @if (grossAmountRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (grossAmountRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!grossAmountRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_discountAmount" jhiTranslate="superErpApp.sale.discountAmount">Discount Amount</label>
          <input
            type="number"
            class="form-control"
            name="discountAmount"
            id="field_discountAmount"
            data-cy="discountAmount"
            [(ngModel)]="sale.discountAmount"
            #discountAmountRef="ngModel"
          />
          @if (discountAmountRef.invalid && (discountAmountRef.dirty || discountAmountRef.touched)) {
            <div>
              @if (discountAmountRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!discountAmountRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_netAmount" jhiTranslate="superErpApp.sale.netAmount">Net Amount</label>
          <input
            type="number"
            class="form-control"
            name="netAmount"
            id="field_netAmount"
            data-cy="netAmount"
            [(ngModel)]="sale.netAmount"
            #netAmountRef="ngModel"
          />
          @if (netAmountRef.invalid && (netAmountRef.dirty || netAmountRef.touched)) {
            <div>
              @if (netAmountRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (netAmountRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!netAmountRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="superErpApp.sale.notes">Notes</label>
          <input
            type="text"
            class="form-control"
            name="notes"
            id="field_notes"
            data-cy="notes"
            [(ngModel)]="sale.notes"
            #notesRef="ngModel"
          />
          @if (notesRef.invalid && (notesRef.dirty || notesRef.touched)) {
            <div>
              @if (notesRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo não pode ter mais de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedAt" jhiTranslate="superErpApp.sale.deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              [(ngModel)]="sale.deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_items" jhiTranslate="superErpApp.sale.items">Items</label>
          <select
            class="form-control"
            id="field_items"
            data-cy="items"
            name="items"
            [(ngModel)]="sale.items"
            [compareWith]="compareSaleItem"
          >
            <option [ngValue]="null"></option>
            @for (saleItemOption of saleItemsSharedCollection(); track $index) {
              <option [ngValue]="saleItemOption">{{ saleItemOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
