<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (city(); as cityRef) {
      <div>
        <h2 data-cy="cityDetailsHeading"><span jhiTranslate="superErpApp.city.detail.title">City</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ cityRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.city.name">Name</span></dt>
          <dd>
            <span>{{ cityRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="superErpApp.city.suppliers">Suppliers</span></dt>
          <dd>
            @if (city()!.suppliers) {
              <div>
                <a [routerLink]="['/supplier', $safeNavigationMigration(city()!.suppliers?.id), 'view']">{{ cityRef.suppliers?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.city.customers">Customers</span></dt>
          <dd>
            @if (city()!.customers) {
              <div>
                <a [routerLink]="['/customer', $safeNavigationMigration(city()!.customers?.id), 'view']">{{ cityRef.customers?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.city.people">People</span></dt>
          <dd>
            @if (city()!.people) {
              <div>
                <a [routerLink]="['/person', $safeNavigationMigration(city()!.people?.id), 'view']">{{ cityRef.people?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.city.companies">Companies</span></dt>
          <dd>
            @if (city()!.companies) {
              <div>
                <a [routerLink]="['/company', $safeNavigationMigration(city()!.companies?.id), 'view']">{{ cityRef.companies?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.city.warehouses">Warehouses</span></dt>
          <dd>
            @if (city()!.warehouses) {
              <div>
                <a [routerLink]="['/warehouse', $safeNavigationMigration(city()!.warehouses?.id), 'view']">{{ cityRef.warehouses?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="superErpApp.city.state">State</span></dt>
          <dd>
            @if (city()!.state) {
              <div>
                <a [routerLink]="['/state', $safeNavigationMigration(city()!.state?.id), 'view']">{{ cityRef.state?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/city', cityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
