<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-warehouse-heading" data-cy="WarehouseCreateUpdateHeading" jhiTranslate="superErpApp.warehouse.home.createOrEditLabel">
        Criar ou editar Warehouse
      </h2>

      <div>
        <jhi-alert-error />

        @if (warehouse.id !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">Código</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [(ngModel)]="warehouse.id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="superErpApp.warehouse.name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            [(ngModel)]="warehouse.name"
            required
            minlength="2"
            maxlength="120"
            #nameRef="ngModel"
          />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (nameRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (nameRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (nameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >Este campo não pode ter mais de 120 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="superErpApp.warehouse.code">Code</label>
          <input
            type="text"
            class="form-control"
            name="code"
            id="field_code"
            data-cy="code"
            [(ngModel)]="warehouse.code"
            required
            minlength="2"
            maxlength="30"
            #codeRef="ngModel"
          />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (codeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (codeRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (codeRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >Este campo não pode ter mais de 30 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="superErpApp.warehouse.active">Active</label>
          <input
            type="checkbox"
            class="form-check"
            name="active"
            id="field_active"
            data-cy="active"
            [(ngModel)]="warehouse.active"
            #activeRef="ngModel"
          />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
            <div>
              @if (activeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedAt" jhiTranslate="superErpApp.warehouse.deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              [(ngModel)]="warehouse.deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockMovements" jhiTranslate="superErpApp.warehouse.stockMovements">Stock Movements</label>
          <select
            class="form-control"
            id="field_stockMovements"
            data-cy="stockMovements"
            name="stockMovements"
            [(ngModel)]="warehouse.stockMovements"
            [compareWith]="compareStockMovement"
          >
            <option [ngValue]="null"></option>
            @for (stockMovementOption of stockMovementsSharedCollection(); track $index) {
              <option [ngValue]="stockMovementOption">{{ stockMovementOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sales" jhiTranslate="superErpApp.warehouse.sales">Sales</label>
          <select
            class="form-control"
            id="field_sales"
            data-cy="sales"
            name="sales"
            [(ngModel)]="warehouse.sales"
            [compareWith]="compareSale"
          >
            <option [ngValue]="null"></option>
            @for (saleOption of salesSharedCollection(); track $index) {
              <option [ngValue]="saleOption">{{ saleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
