<div>
  <h2 id="page-heading" data-cy="SupplierHeading">
    <span jhiTranslate="superErpApp.supplier.home.title">Suppliers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="superErpApp.supplier.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-supplier"
        [routerLink]="['/supplier/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="superErpApp.supplier.home.createLabel">Criar novo Supplier</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (suppliers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="superErpApp.supplier.home.notFound">Nenhum Supplier encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="legalName">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.legalName">Legal Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tradeName">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.tradeName">Trade Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="taxId">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.taxId">Tax Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="partyType">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.partyType">Party Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.email">Email</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.phone">Phone</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.deletedAt">Deleted At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="person.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.person">Person</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.company">Company</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="rawMaterials.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.supplier.rawMaterials">Raw Materials</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (supplier of suppliers(); track trackId(supplier)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/supplier', supplier.id, 'view']">{{ supplier.id }}</a>
              </td>
              <td>{{ supplier.legalName }}</td>
              <td>{{ supplier.tradeName }}</td>
              <td>{{ supplier.taxId }}</td>
              <td [jhiTranslate]="'superErpApp.PartyType.' + (supplier.partyType ?? 'null')">
                {{ { null: '', PERSON: 'PERSON', COMPANY: 'COMPANY' }[supplier.partyType ?? 'null'] }}
              </td>
              <td>{{ supplier.email }}</td>
              <td>{{ supplier.phone }}</td>
              <td>{{ supplier.active }}</td>
              <td>{{ supplier.deletedAt | formatMediumDatetime }}</td>
              <td>
                @if (supplier.person) {
                  <div>
                    <a [routerLink]="['/person', supplier.person.id, 'view']">{{ supplier.person.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (supplier.company) {
                  <div>
                    <a [routerLink]="['/company', supplier.company.id, 'view']">{{ supplier.company.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (supplier.rawMaterials) {
                  <div>
                    <a [routerLink]="['/raw-material', supplier.rawMaterials.id, 'view']">{{ supplier.rawMaterials.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/tenant']"
                    [queryParams]="{ 'filter[suppliersId.in]': supplier.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.supplier.tenant' | translate) }"
                      >Mostrar Tenant</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/city']"
                    [queryParams]="{ 'filter[suppliersId.in]': supplier.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.supplier.city' | translate) }"
                      >Mostrar City</span
                    >
                  </button>
                  <a [routerLink]="['/supplier', supplier.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/supplier', supplier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(supplier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (suppliers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
