<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-supplier-heading" data-cy="SupplierCreateUpdateHeading" jhiTranslate="superErpApp.supplier.home.createOrEditLabel">
        Criar ou editar Supplier
      </h2>

      <div>
        <jhi-alert-error />

        @if (supplier.id !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">Código</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [(ngModel)]="supplier.id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" for="field_legalName" jhiTranslate="superErpApp.supplier.legalName">Legal Name</label>
          <input
            type="text"
            class="form-control"
            name="legalName"
            id="field_legalName"
            data-cy="legalName"
            [(ngModel)]="supplier.legalName"
            #legalNameRef="ngModel"
          />
          @if (legalNameRef.invalid && (legalNameRef.dirty || legalNameRef.touched)) {
            <div>
              @if (legalNameRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (legalNameRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (legalNameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >Este campo não pode ter mais de 120 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_tradeName" jhiTranslate="superErpApp.supplier.tradeName">Trade Name</label>
          <input
            type="text"
            class="form-control"
            name="tradeName"
            id="field_tradeName"
            data-cy="tradeName"
            [(ngModel)]="supplier.tradeName"
            #tradeNameRef="ngModel"
          />
          @if (tradeNameRef.invalid && (tradeNameRef.dirty || tradeNameRef.touched)) {
            <div>
              @if (tradeNameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >Este campo não pode ter mais de 120 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_taxId" jhiTranslate="superErpApp.supplier.taxId">Tax Id</label>
          <input
            type="text"
            class="form-control"
            name="taxId"
            id="field_taxId"
            data-cy="taxId"
            [(ngModel)]="supplier.taxId"
            #taxIdRef="ngModel"
          />
          @if (taxIdRef.invalid && (taxIdRef.dirty || taxIdRef.touched)) {
            <div>
              @if (taxIdRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (taxIdRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '11' }"
                  >Este campo deve ter pelo menos 11 caracteres.</small
                >
              }
              @if (taxIdRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Este campo não pode ter mais de 20 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_partyType" jhiTranslate="superErpApp.supplier.partyType">Party Type</label>
          <select
            class="form-control"
            name="partyType"
            [(ngModel)]="supplier.partyType"
            #partyTypeRef="ngModel"
            id="field_partyType"
            data-cy="partyType"
          >
            <option [ngValue]="null">{{ 'superErpApp.PartyType.null' | translate }}</option>
            @for (partyType of partyTypeValues; track $index) {
              <option [value]="partyType">{{ 'superErpApp.PartyType.' + partyType | translate }}</option>
            }
          </select>
          @if (partyTypeRef.invalid && (partyTypeRef.dirty || partyTypeRef.touched)) {
            <div>
              @if (partyTypeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="superErpApp.supplier.email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            id="field_email"
            data-cy="email"
            [(ngModel)]="supplier.email"
            #emailRef="ngModel"
          />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (emailRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >Este campo não pode ter mais de 120 caracteres.</small
                >
              }
              @if (emailRef.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }"
                  >Este campo deve estar dentro do seguinte padrão Email.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="superErpApp.supplier.phone">Phone</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            id="field_phone"
            data-cy="phone"
            [(ngModel)]="supplier.phone"
            #phoneRef="ngModel"
          />
          @if (phoneRef.invalid && (phoneRef.dirty || phoneRef.touched)) {
            <div>
              @if (phoneRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >Este campo não pode ter mais de 30 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="superErpApp.supplier.active">Active</label>
          <input
            type="checkbox"
            class="form-check"
            name="active"
            id="field_active"
            data-cy="active"
            [(ngModel)]="supplier.active"
            #activeRef="ngModel"
          />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
            <div>
              @if (activeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedAt" jhiTranslate="superErpApp.supplier.deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              [(ngModel)]="supplier.deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_person" jhiTranslate="superErpApp.supplier.person">Person</label>
          <select
            class="form-control"
            id="field_person"
            data-cy="person"
            name="person"
            [(ngModel)]="supplier.person"
            [compareWith]="comparePerson"
          >
            <option [ngValue]="null"></option>
            @for (personOption of peopleCollection(); track $index) {
              <option [ngValue]="personOption">{{ personOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="superErpApp.supplier.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            [(ngModel)]="supplier.company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesCollection(); track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rawMaterials" jhiTranslate="superErpApp.supplier.rawMaterials">Raw Materials</label>
          <select
            class="form-control"
            id="field_rawMaterials"
            data-cy="rawMaterials"
            name="rawMaterials"
            [(ngModel)]="supplier.rawMaterials"
            [compareWith]="compareRawMaterial"
          >
            <option [ngValue]="null"></option>
            @for (rawMaterialOption of rawMaterialsSharedCollection(); track $index) {
              <option [ngValue]="rawMaterialOption">{{ rawMaterialOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
