<div>
  <h2 id="page-heading" data-cy="RawMaterialHeading">
    <span jhiTranslate="superErpApp.rawMaterial.home.title">Raw Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="superErpApp.rawMaterial.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-raw-material"
        [routerLink]="['/raw-material/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="superErpApp.rawMaterial.home.createLabel">Criar novo Raw Material</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (rawMaterials().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="superErpApp.rawMaterial.home.notFound">Nenhum Raw Material encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="sku">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.sku">Sku</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="unitOfMeasure">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.unitOfMeasure">Unit Of Measure</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="unitDecimalPlaces">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.unitDecimalPlaces">Unit Decimal Places</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="unitCost">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.unitCost">Unit Cost</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="minStock">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.minStock">Min Stock</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.deletedAt">Deleted At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stockMovements.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.rawMaterial.stockMovements">Stock Movements</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (rawMaterial of rawMaterials(); track trackId(rawMaterial)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/raw-material', rawMaterial.id, 'view']">{{ rawMaterial.id }}</a>
              </td>
              <td>{{ rawMaterial.name }}</td>
              <td>{{ rawMaterial.sku }}</td>
              <td [jhiTranslate]="'superErpApp.UnitOfMeasure.' + (rawMaterial.unitOfMeasure ?? 'null')">
                {{ { null: '', UNIT: 'UNIT', KG: 'KG', LITER: 'LITER', METER: 'METER', BOX: 'BOX' }[rawMaterial.unitOfMeasure ?? 'null'] }}
              </td>
              <td>{{ rawMaterial.unitDecimalPlaces }}</td>
              <td>{{ rawMaterial.unitCost }}</td>
              <td>{{ rawMaterial.minStock }}</td>
              <td>{{ rawMaterial.active }}</td>
              <td>{{ rawMaterial.deletedAt | formatMediumDatetime }}</td>
              <td>
                @if (rawMaterial.stockMovements) {
                  <div>
                    <a [routerLink]="['/stock-movement', rawMaterial.stockMovements.id, 'view']">{{ rawMaterial.stockMovements.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/tenant']"
                    [queryParams]="{ 'filter[rawMaterialsId.in]': rawMaterial.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.rawMaterial.tenant' | translate) }"
                      >Mostrar Tenant</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/supplier']"
                    [queryParams]="{ 'filter[rawMaterialsId.in]': rawMaterial.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.rawMaterial.primarySupplier' | translate) }"
                      >Mostrar Primary Supplier</span
                    >
                  </button>
                  <a [routerLink]="['/raw-material', rawMaterial.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/raw-material', rawMaterial.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(rawMaterial)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (rawMaterials().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
