<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="superErpApp.product.home.createOrEditLabel">
        Criar ou editar Product
      </h2>

      <div>
        <jhi-alert-error />

        @if (product.id !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">Código</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [(ngModel)]="product.id" [readonly]="true" />
          </div>
        }
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="superErpApp.product.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" [(ngModel)]="product.name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (nameRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (nameRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (nameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >Este campo não pode ter mais de 120 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_sku" jhiTranslate="superErpApp.product.sku">Sku</label>
          <input type="text" class="form-control" name="sku" id="field_sku" data-cy="sku" [(ngModel)]="product.sku" />
          @if (skuRef.invalid && (skuRef.dirty || skuRef.touched)) {
            <div>
              @if (skuRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (skuRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (skuRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >Este campo não pode ter mais de 40 caracteres.</small
                >
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_unitOfMeasure" jhiTranslate="superErpApp.product.unitOfMeasure">Unit Of Measure</label>
          <select
            class="form-control"
            name="unitOfMeasure"
            [(ngModel)]="product.unitOfMeasure"
            id="field_unitOfMeasure"
            data-cy="unitOfMeasure"
          >
            <option [ngValue]="null">{{ 'superErpApp.UnitOfMeasure.null' | translate }}</option>
            @for (unitOfMeasure of unitOfMeasureValues; track $index) {
              <option [value]="unitOfMeasure">{{ 'superErpApp.UnitOfMeasure.' + unitOfMeasure | translate }}</option>
            }
          </select>
          @if (unitOfMeasureRef.invalid && (unitOfMeasureRef.dirty || unitOfMeasureRef.touched)) {
            <div>
              @if (unitOfMeasureRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_unitDecimalPlaces" jhiTranslate="superErpApp.product.unitDecimalPlaces"
            >Unit Decimal Places</label
          >
          <input
            type="number"
            class="form-control"
            name="unitDecimalPlaces"
            id="field_unitDecimalPlaces"
            data-cy="unitDecimalPlaces"
            [(ngModel)]="product.unitDecimalPlaces"
          />
          @if (unitDecimalPlacesRef.invalid && (unitDecimalPlacesRef.dirty || unitDecimalPlacesRef.touched)) {
            <div>
              @if (unitDecimalPlacesRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (unitDecimalPlacesRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              @if (unitDecimalPlacesRef.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '6' }"
                  >Este campo não pode ser maior que 6.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!unitDecimalPlacesRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_salePrice" jhiTranslate="superErpApp.product.salePrice">Sale Price</label>
          <input
            type="number"
            class="form-control"
            name="salePrice"
            id="field_salePrice"
            data-cy="salePrice"
            [(ngModel)]="product.salePrice"
          />
          @if (salePriceRef.invalid && (salePriceRef.dirty || salePriceRef.touched)) {
            <div>
              @if (salePriceRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (salePriceRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!salePriceRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_costPrice" jhiTranslate="superErpApp.product.costPrice">Cost Price</label>
          <input
            type="number"
            class="form-control"
            name="costPrice"
            id="field_costPrice"
            data-cy="costPrice"
            [(ngModel)]="product.costPrice"
          />
          @if (costPriceRef.invalid && (costPriceRef.dirty || costPriceRef.touched)) {
            <div>
              @if (costPriceRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!costPriceRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_minStock" jhiTranslate="superErpApp.product.minStock">Min Stock</label>
          <input type="number" class="form-control" name="minStock" id="field_minStock" data-cy="minStock" [(ngModel)]="product.minStock" />
          @if (minStockRef.invalid && (minStockRef.dirty || minStockRef.touched)) {
            <div>
              @if (minStockRef.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo deve ser maior que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!minStockRef.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="superErpApp.product.active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" [(ngModel)]="product.active" />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
            <div>
              @if (activeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedAt" jhiTranslate="superErpApp.product.deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              [(ngModel)]="product.deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_saleItems" jhiTranslate="superErpApp.product.saleItems">Sale Items</label>
          <select
            class="form-control"
            id="field_saleItems"
            data-cy="saleItems"
            name="saleItems"
            [(ngModel)]="product.saleItems"
            [compareWith]="compareSaleItem"
          >
            <option [ngValue]="null"></option>
            @for (saleItemOption of saleItemsSharedCollection(); track $index) {
              <option [ngValue]="saleItemOption">{{ saleItemOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockMovements" jhiTranslate="superErpApp.product.stockMovements">Stock Movements</label>
          <select
            class="form-control"
            id="field_stockMovements"
            data-cy="stockMovements"
            name="stockMovements"
            [(ngModel)]="product.stockMovements"
            [compareWith]="compareStockMovement"
          >
            <option [ngValue]="null"></option>
            @for (stockMovementOption of stockMovementsSharedCollection(); track $index) {
              <option [ngValue]="stockMovementOption">{{ stockMovementOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
