html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #fff;
}

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x: hidden;
}

p-card {
  flex: 1;
}

:host ::ng-deep .p-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

:host ::ng-deep .p-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

:host ::ng-deep .p-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.card-layout > p-card {
  margin: 0;
  flex: 1;
  display: flex;
}

.card-content {
  flex: 1;
  min-height: 0;
}

.card-layout jhi-footer {
  margin-top: auto;
}
