<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-tenant-heading" data-cy="TenantCreateUpdateHeading" jhiTranslate="superErpApp.tenant.home.createOrEditLabel">
        Criar ou editar Tenant
      </h2>

      <div>
        <jhi-alert-error />

        @if (tenant.id !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">Código</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [(ngModel)]="tenant.id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="superErpApp.tenant.name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            [(ngModel)]="tenant.name"
            required
            minlength="2"
            maxlength="100"
            #nameRef="ngModel"
          />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (nameRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (nameRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (nameRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo não pode ter mais de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="superErpApp.tenant.code">Code</label>
          <input
            type="text"
            class="form-control"
            name="code"
            id="field_code"
            data-cy="code"
            [(ngModel)]="tenant.code"
            required
            minlength="2"
            maxlength="30"
            #codeRef="ngModel"
          />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (codeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (codeRef.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >Este campo deve ter pelo menos 2 caracteres.</small
                >
              }
              @if (codeRef.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >Este campo não pode ter mais de 30 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="superErpApp.tenant.active">Active</label>
          <input
            type="checkbox"
            class="form-check"
            name="active"
            id="field_active"
            data-cy="active"
            [(ngModel)]="tenant.active"
            #activeRef="ngModel"
          />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
            <div>
              @if (activeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deletedAt" jhiTranslate="superErpApp.tenant.deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              [(ngModel)]="tenant.deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customers" jhiTranslate="superErpApp.tenant.customers">Customers</label>
          <select
            class="form-control"
            id="field_customers"
            data-cy="customers"
            name="customers"
            [(ngModel)]="tenant.customers"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_suppliers" jhiTranslate="superErpApp.tenant.suppliers">Suppliers</label>
          <select
            class="form-control"
            id="field_suppliers"
            data-cy="suppliers"
            name="suppliers"
            [(ngModel)]="tenant.suppliers"
            [compareWith]="compareSupplier"
          >
            <option [ngValue]="null"></option>
            @for (supplierOption of suppliersSharedCollection(); track $index) {
              <option [ngValue]="supplierOption">{{ supplierOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_people" jhiTranslate="superErpApp.tenant.people">People</label>
          <select
            class="form-control"
            id="field_people"
            data-cy="people"
            name="people"
            [(ngModel)]="tenant.people"
            [compareWith]="comparePerson"
          >
            <option [ngValue]="null"></option>
            @for (personOption of peopleSharedCollection(); track $index) {
              <option [ngValue]="personOption">{{ personOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_companies" jhiTranslate="superErpApp.tenant.companies">Companies</label>
          <select
            class="form-control"
            id="field_companies"
            data-cy="companies"
            name="companies"
            [(ngModel)]="tenant.companies"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection(); track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_products" jhiTranslate="superErpApp.tenant.products">Products</label>
          <select
            class="form-control"
            id="field_products"
            data-cy="products"
            name="products"
            [(ngModel)]="tenant.products"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            @for (productOption of productsSharedCollection(); track $index) {
              <option [ngValue]="productOption">{{ productOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rawMaterials" jhiTranslate="superErpApp.tenant.rawMaterials">Raw Materials</label>
          <select
            class="form-control"
            id="field_rawMaterials"
            data-cy="rawMaterials"
            name="rawMaterials"
            [(ngModel)]="tenant.rawMaterials"
            [compareWith]="compareRawMaterial"
          >
            <option [ngValue]="null"></option>
            @for (rawMaterialOption of rawMaterialsSharedCollection(); track $index) {
              <option [ngValue]="rawMaterialOption">{{ rawMaterialOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_warehouses" jhiTranslate="superErpApp.tenant.warehouses">Warehouses</label>
          <select
            class="form-control"
            id="field_warehouses"
            data-cy="warehouses"
            name="warehouses"
            [(ngModel)]="tenant.warehouses"
            [compareWith]="compareWarehouse"
          >
            <option [ngValue]="null"></option>
            @for (warehouseOption of warehousesSharedCollection(); track $index) {
              <option [ngValue]="warehouseOption">{{ warehouseOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sales" jhiTranslate="superErpApp.tenant.sales">Sales</label>
          <select class="form-control" id="field_sales" data-cy="sales" name="sales" [(ngModel)]="tenant.sales" [compareWith]="compareSale">
            <option [ngValue]="null"></option>
            @for (saleOption of salesSharedCollection(); track $index) {
              <option [ngValue]="saleOption">{{ saleOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_saleItems" jhiTranslate="superErpApp.tenant.saleItems">Sale Items</label>
          <select
            class="form-control"
            id="field_saleItems"
            data-cy="saleItems"
            name="saleItems"
            [(ngModel)]="tenant.saleItems"
            [compareWith]="compareSaleItem"
          >
            <option [ngValue]="null"></option>
            @for (saleItemOption of saleItemsSharedCollection(); track $index) {
              <option [ngValue]="saleItemOption">{{ saleItemOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockMovements" jhiTranslate="superErpApp.tenant.stockMovements">Stock Movements</label>
          <select
            class="form-control"
            id="field_stockMovements"
            data-cy="stockMovements"
            name="stockMovements"
            [(ngModel)]="tenant.stockMovements"
            [compareWith]="compareStockMovement"
          >
            <option [ngValue]="null"></option>
            @for (stockMovementOption of stockMovementsSharedCollection(); track $index) {
              <option [ngValue]="stockMovementOption">{{ stockMovementOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
