<nav data-cy="navbar" class="navbar">
  <div class="navbar-content">
    <div class="navbar-container">
      <div class="navbar-brand-section">
        <a class="navbar-brand" routerLink="/" (click)="collapseNavbar()">
          <span class="logo-img"></span>
          <span class="navbar-title" jhiTranslate="global.title">Super-erp</span>
          @if (version) {
            <span class="navbar-version">{{ version }}</span>
          }
        </a>
      </div>

      <div class="navbar-search-section">
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput [placeholder]="'global.menu.search' | translate" />
        </mat-form-field>
      </div>

      <button class="navbar-toggler" (click)="isNavbarCollapsed.update(c => !c)" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="navbar-menu-section" [class.show]="!isNavbarCollapsed()">
        @if (account() !== null) {
          <button class="nav-btn" [matMenuTriggerFor]="entityMenu" data-cy="entity" (click)="collapseNavbar()">
            <mat-icon>apps</mat-icon>
            <span jhiTranslate="global.menu.entities.main">Entidades</span>
          </button>
          <mat-menu #entityMenu="matMenu">
            @for (item of entityMenuItems; track item.label) {
              <button mat-menu-item [routerLink]="item.routerLink" (click)="collapseNavbar()">
                <mat-icon matMenuItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>
            }
          </mat-menu>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        }

        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <button class="nav-btn" [matMenuTriggerFor]="adminMenu" data-cy="adminMenu" (click)="collapseNavbar()">
            <mat-icon>tune</mat-icon>
            <span jhiTranslate="global.menu.admin.main">Administração</span>
          </button>
          <mat-menu #adminMenu="matMenu">
            @for (item of adminMenuItems; track item.label) {
              <button mat-menu-item [routerLink]="item.routerLink" (click)="collapseNavbar()">
                <mat-icon matMenuItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>
            }
          </mat-menu>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ng-container>
      </div>

      <div class="navbar-account-section">
        <button class="nav-btn" [matMenuTriggerFor]="accountMenu" data-cy="accountMenu">
          @if (!account()?.imageUrl) {
            <mat-icon>person</mat-icon>
            <span jhiTranslate="global.menu.account.main">Conta</span>
          } @else {
            <img [src]="account()!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          }
        </button>
        <mat-menu #accountMenu="matMenu">
          @for (item of account() !== null ? loggedInMenuItems : loggedOutMenuItems; track item.label) {
            @if (item.routerLink) {
              <button mat-menu-item [routerLink]="item.routerLink" (click)="collapseNavbar()">
                <mat-icon matMenuItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>
            } @else {
              <button mat-menu-item (click)="handleAccountMenuItem(item)">
                <mat-icon matMenuItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>
            }
          }
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
