<div>
  <h2 id="page-heading" data-cy="WarehouseHeading">
    <span jhiTranslate="superErpApp.warehouse.home.title">Warehouses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="superErpApp.warehouse.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-warehouse"
        [routerLink]="['/warehouse/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="superErpApp.warehouse.home.createLabel">Criar novo Warehouse</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (warehouses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="superErpApp.warehouse.home.notFound">Nenhum Warehouse encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.code">Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.deletedAt">Deleted At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="stockMovements.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.stockMovements">Stock Movements</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="sales.id">
              <div class="d-flex">
                <span jhiTranslate="superErpApp.warehouse.sales">Sales</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (warehouse of warehouses(); track trackId(warehouse)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/warehouse', warehouse.id, 'view']">{{ warehouse.id }}</a>
              </td>
              <td>{{ warehouse.name }}</td>
              <td>{{ warehouse.code }}</td>
              <td>{{ warehouse.active }}</td>
              <td>{{ warehouse.deletedAt | formatMediumDatetime }}</td>
              <td>
                @if (warehouse.stockMovements) {
                  <div>
                    <a [routerLink]="['/stock-movement', warehouse.stockMovements.id, 'view']">{{ warehouse.stockMovements.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (warehouse.sales) {
                  <div>
                    <a [routerLink]="['/sale', warehouse.sales.id, 'view']">{{ warehouse.sales.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/tenant']"
                    [queryParams]="{ 'filter[warehousesId.in]': warehouse.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.warehouse.tenant' | translate) }"
                      >Mostrar Tenant</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/city']"
                    [queryParams]="{ 'filter[warehousesId.in]': warehouse.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('superErpApp.warehouse.city' | translate) }"
                      >Mostrar City</span
                    >
                  </button>
                  <a [routerLink]="['/warehouse', warehouse.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/warehouse', warehouse.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(warehouse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (warehouses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
